#personnel
{
	width: 716px;
	padding: 0px;
	border: 1px solid;
	border-color: #000000;
	border-collapse: collapse;

}
#personnel td
{
	border: 1px solid;
	border-color: #000000;
	border-collapse: collapse;
}
td.infoheadinglight
{
	height: 30px;
	background-color: #b0dfdf;
	text-align: center;
	font-weight: bold;
	color: #000000;
	font-size: 12px;

}
td.infoheadingdark
{
	height: 30px;
	background-color: #548d8d;
	padding: 5px;
	font-weight: bold;
	color: #ffffff;
	font-size: 16px;
}
td.infolight
{
	height: 20px;
	font-weight: bold;
	text-align: center;
	font-size: 12px;
	color: #000000
}
td.infodark
{
	height: 20px;
	background-color: #cccccc;
	padding: 5px;
	font-weight: bold;
	color: #ffffff;
	font-size: 16px;
    
}
a:link { color: #000000; text-decoration: none;}
#personnelcontainer {
    display: none;
}
 #topcontainer {
        display: block;
        width: 500px;
        height: 60px;
       position: absolute;
       z-index: 5;
    }
    h3 {
        font-size: 20px;
        text-align: center;
        vertical-align: middle;
        color: black;
    }
    #belowcontainer {

    }
    #bar {
        display: block;
        width: 1px;
        height: 40px;
        background-color: #4CAF50;
    }
    #outercontainer {
        display: block;
        width: 500px;
        height: 60px;
        border: 1px black solid;

    }
    #innercontainer {
        display: block;
        width: 480px;
        height: 40px;
        background-color: #eeeeee;
        margin: 10px;
    }
    #photocol
{
	width: 166px;
	padding: 0px;
	border: 0px solid;
}
#photobox
{
	width: 164px;
	padding: 0px;
	border: 1px solid;
	border-color: #000000;
}
#employeecode
{
	width: 166px;
	padding-top: 6px;
	padding-bottom: 6px;
	background-color: #c5f7ff;
	color: #686868;
	font-weight: bold;
	text-align: center;
}
#securitylevel
{
	width: 166px;
	padding-top: 6px;
	padding-bottom: 6px;
	background-color: #70b8c3;
	color: #000000;
	font-weight: bold;
	text-align: center;
}
.tablespacer
{
	height: 10px;
}
td.variablecol
{
	width: 135px;
	height: 30px;
	color: #686868;
	font-weight: bold;
	text-align: right;
	vertical-align: center;
}
td.valuecol
{
	width: 245px;
	height: 29px;
	font-size: 16px;
	font-weight: bold;
	text-align: left;
	vertical-align: center;
}
.blackline
{
	height: 1px;
	background-color: #000000;
}
#table-resp
{
	width: 716px;
	display: table;
	font-size: 12px;
	font-family : Arial, Verdana, Geneva, Helvetica, sans-serif;
	color: #000000;
}
#table-header
{
	display: table-header-group;
	height: 30px;
}
.table-header-cell-light, .table-header-cell-dark
{
	display: table-cell;
	border: 1px solid;
	border-color: #000000;
	border-collapse: collapse;
	vertical-align: middle;
	font-weight: bold;
}
.table-header-cell-light
{
	text-align: center;
	background-color: #b0dfdf;
}
.table-header-cell-dark
{
	padding: 5px;
	text-align: left;
	vertical-align: middle;
	background-color: #548d8d;
	font-size: 16px;
}
#table-body
{
	display: table-row-group;
}
.resp-table-row
{
	display: table-row;
}
.table-body-cell, .table-body-cell-bigger
{
	display: table-cell;
	border: 1px solid;
	border-color: #000000;
	border-collapse: collapse;
	text-align: center;
	vertical-align: middle;
}
.table-body-cell-bigger
{
	text-align: left;
	height: 20px;
	background-color: #cccccc;
	padding: 5px;
	color: #ffffff;
	font-size: 16px;
}
